body{
	background-color: lightgoldenrodyellow;
}
	h1{
		font-size: 30px;
		color: teal;
	}

	h2{
		font-size: 20px;
		color: red;
	}

	h2{
		color: green;
	}

	.big{
		font-size: 60px;
	}
	.uppercase{
		text-transform: uppercase;
	}

	.big.uppercase{
		color: navy;
	}

	h1 span{
		color: violet;
	}

	button{
		font-family: comicsans;
		font-size: 20px;
		color: red;
		background-color: white;
		border:2px dashed red;
		padding: 30px;
	}

	img{
		width: 250px;
	}

	.cities{
		background-color: lightgrey;
	}